{% extends 'base.html.twig' %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Product Details</h1>

		<table>
			<tr>
				<th>ID</th>
				<td>{{ shopItem.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ shopItem.name }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ shopItem.price }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ shopItem.description }}</td>
			</tr>
		</table>

		<a href="/products">go back</a>
	</div>

{% endblock %}
